<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>추가하기</title>
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="css/styles.css" rel="stylesheet" />
    </head>
    <body id="page-top">
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
            <div class="container px-4">
                <a class="navbar-brand" href="/home">MiniProject</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item"><a class="nav-link" href="/home">home</a></li>
                        <li class="nav-item"><a class="nav-link" href="#services">Services</a></li>
                        <li class="nav-item"><a class="nav-link" href="#contact">Contact</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Header-->
        <header class="bg-primary bg-gradient text-white">
            <div class="container px-4 text-center">
                <h1 class="fw-bolder">자유게시판!!!</h1>
            </div>
        </header>

        <!-- insertBoard section-->
        <section id="insertBoard">
		<div class="container px-4">
			<div id="board" align="center">
				<form class="was-validated" action="insertOk" method="post">
					<div class="mb-3">
						<div class="row">
							<div class="col">
								<input type="text" class="form-control" id="name" name="name" placeholder="닉네입" aria-label="name" required="required">
								<div class="invalid-feedback">닉네임은 필수 사항입니다</div>
							</div>
							<div class="col">
								<input type="password" class="form-control" id="password" name="password" placeholder="비밀번호" aria-label="password" required="required">
								<div class="invalid-feedback">비밀번호는 필수 사항입니다</div>
							</div>
						</div>
					</div>
					<div class="mb-3">
						<input type="text" class="form-control" aria-label="subject" id="subject" name="subject" placeholder="제목을 입력해주세요" required>
						<div class="invalid-feedback">제목은 필수 사항입니다</div>
					</div>
					<div class="mb-3">
						<textarea class="form-control" id="content" name="content" placeholder="본문을 입력해주세요" required rows="10"></textarea>
						<div class="invalid-feedback">본문은 필수 사항입니다</div>
					</div>
						<input type="button" class="btn btn-dark" value="취소하기" id="cancleBtn" name="cancleBtn" onclick="location.href='/home'">
						<input type="submit" class="btn btn-primary" id="boardAdd" name="boardAdd" value="저장하기" onclick="return CheckInsert()">
				</form>
			</div>
		</div>
	</section>

        <!-- Footer-->
        <footer class="py-5 bg-dark">
            <div class="container px-4"><p class="m-0 text-center text-white">Copyright &copy; Your Website 2023</p></div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
    </body>
    <script type="text/javascript">
   	function CheckInsert(){
		if(confirm('작성한 내용으로 추가하시겠습니까?')){
			alert('정상적으로 추가되었습니다')
			return true;
		}else{
			alert('최소되었습니다');
			return false;
		}
	}
    </script>
</html>
