<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>수정하기</title>
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="css/styles.css" rel="stylesheet" />
    </head>
    <body id="page-top">
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
            <div class="container px-4">
                <a class="navbar-brand" href="/home">MiniProject</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item"><a class="nav-link" href="/home">home</a></li>
                        <li class="nav-item"><a class="nav-link" href="#services">Services</a></li>
                        <li class="nav-item"><a class="nav-link" href="#contact">Contact</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Header-->
        <header class="bg-primary bg-gradient text-white">
            <div class="container px-4 text-center">
                <h1 class="fw-bolder">자유게시판!!!</h1>
                <p class="lead"></p>
            </div>
        </header>

        <!-- insertBoard section-->
        <section id="insertBoard">
            <div class="container px-4">
				<div id="board" align="center">
					<form action="updateOk" method="post">
						<input type="hidden" id="idx" name="idx" th:value="${detailContent.idx}" >
						<div class="row">
							<div class="col" style="text-align: left;">
								<div style="display: table-cell; vertical-align: bottom;">작성일자</div>
								<input type="text" class="form-control" id="createDate" name="createDate" aria-label="createDate" th:value="${detailContent.createDate}" readonly="readonly"> 
							</div>
							<div class="col" style="text-align: left;">
								<div style="display: table-cell; vertical-align: bottom;">최종 수정 일자</div>
								<input type="text" class="form-control" id="updateDate" name="updateDate" aria-label="updateDate" th:value="${detailContent.updateDate}" readonly="readonly">
							</div>
						</div>
						<p/>
						<div class="col" style="text-align: left;">
							<div style="display: table-cell; vertical-align: bottom;">넥네임</div>
							<input type="text" class="form-control" id="name" name="name" aria-label="name" th:value="${detailContent.name}" readonly="readonly"> 
						</div>
						<p/>
						<div class="mb-3" style="text-align: left;">
							<div style="display: table-cell; vertical-align: bottom;">제목</div>
							<input type="text" class="form-control" id="subject" name="subject" th:value="${detailContent.subject}" > 
						</div>
						<div class="mb-3" style="text-align: left;">
							<div style="display: table-cell; vertical-align: bottom;">내용</div>
							<textarea class="form-control" id="content" name="content" required="required" rows="10" th:value="${detailContent.content}" th:text="${detailContent.content}"></textarea>
						</div>
						<input type="button" class="btn btn-dark" value="취소하기" id="cancleBtn" name="cancleBtn" onclick="location='/home'">
						<input type="submit" class="btn btn-primary" id="boardUpdate" name="boardAdd" value="저장하기" onclick="return CheckUpdate()">
					</form>
				</div>
            </div>
        </section>

        <!-- Footer-->
        <footer class="py-5 bg-dark">
            <div class="container px-4"><p class="m-0 text-center text-white">Copyright &copy; Your Website 2023</p></div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
    </body>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script type="text/javascript">
    	function CheckUpdate(){
    		if(confirm('작성한 내용으로 수정하시겠습니까?')){
    			alert('정상적으로 수정되었습니다')
    			return true;
    		}else{
    			alert('최소되었습니다');
    			return false;
    		}
    	}
    </script>
 </html>
