<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>수정하기</title>
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="css/styles.css" rel="stylesheet" />
    </head>
    <body id="page-top">
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
            <div class="container px-4">
                <a class="navbar-brand" href="/home">MiniProject</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item"><a class="nav-link" href="/home">home</a></li>
                        <li class="nav-item"><a class="nav-link" href="#services">Services</a></li>
                        <li class="nav-item"><a class="nav-link" href="#contact">Contact</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Header-->
        <header class="bg-primary bg-gradient text-white">
            <div class="container px-4 text-center">
                <h1 class="fw-bolder">게시판!!!</h1>
                <p class="lead"></p>
            </div>
        </header>

        <!-- insertBoard section-->
        <section id="insertBoard">
            <div class="container px-4">
				<div id="board" align="center">
					<form action="updateOk" method="post">
						<input type="hidden" id="idx" name="idx" th:value="${detailContent.idx}" >
						<div class="mb-3" style="text-align: right;">
							<input type="text" class="form-control" id="updateDate" th:value="${detailContent.updateDate}" readonly="readonly">
						</div>
						<div class="row">
							<div class="col">
								<input type="text" class="form-control" id="name" name="name" aria-label="name" th:value="${detailContent.name}"> 
							</div>
							<div class="col">
								<input type="password" class="form-control" id="password" name="password" placeholder="비밀번호" aria-label="password" required="required">
							</div>
						</div>
						<p>
						<div class="mb-3">
							<input type="text" class="form-control" id="subject" name="subject" th:value="${detailContent.subject}" > 
						</div>
						<div class="mb-3">
							<textarea class="form-control" id="content" name="content" required="required" rows="10" th:value="${detailContent.content}" th:text="${detailContent.content}"></textarea>
						</div>
						<input type="button" class="btn btn-dark" value="취소하기" id="cancleBtn" name="cancleBtn" onclick="location='/home'">
						<input type="submit" class="btn btn-primary" id="boardUpdate" name="boardAdd" value="저장하기">
					</form>
				</div>
            </div>
        </section>

        <!-- Footer-->
        <footer class="py-5 bg-dark">
            <div class="container px-4"><p class="m-0 text-center text-white">Copyright &copy; Your Website 2023</p></div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
    </body>
 </html>
